name: Release

on:
  push:
    branches: [main]

jobs:
  release:
    uses: risa-labs-inc/BossConsole-Releases/.github/workflows/plugin-release.yml@main
    secrets:
      BOSS_STORE_PLUGIN_PUBLISH_KEY: ${{ secrets.BOSS_STORE_PLUGIN_PUBLISH_KEY }}

